@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans leading-relaxed tracking-[0.01em];
  }
}

/*==============================================
# React Notion X
===============================================*/

.notion-header,
.notion-page-cover-wrapper,
.notion-title,
.notion-collection-page-properties {
  display: none !important;
}

.notion {
  font-family: "Helvetica Neue", "Arial", "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Noto Sans JP", "Segoe UI", "sans-serif",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  color: #111827 !important;
}

.notion-app,
.notion-page-scroller {
  @apply min-h-0 !important;
}

.notion-page {
  @apply p-0 !important;
}

.notion-blank {
  @apply m-0 p-0 !important;
}

.notion-h {
  @apply w-full p-0 !important;
}
.notion-h1 {
  @apply mt-12 mb-5 border-b-[1.5px] border-opacity-90 pb-3 text-[26px] font-bold leading-tight md:mb-6 md:text-[28px] !important;
}

.notion-h2 {
  @apply mt-4 mb-4 text-[21px] font-bold leading-tight md:text-[23px] !important;
}

.notion-h3 {
  @apply mt-0 mb-3 ml-4 text-[18px] font-bold leading-relaxed before:absolute before:top-[0.4rem] before:-left-4 before:mr-2 before:inline-block before:w-4 before:text-xs before:text-[#0CC177] before:content-["◆"] !important;
}

.notion-text {
  @apply m-0 mb-6 p-0 text-base leading-loose text-[#2e2e2e] md:text-[17px] !important;
}

.notion-list {
  @apply -mt-2 mb-2 !important;
}

.notion-toggle {
  @apply max-w-full p-0 !important;
}

.notion-toggle > div {
  @apply mx-0 px-4 !important;
}

.notion-quote {
  @apply mb-7 mt-2 border-l-4 border-solid border-gray-600 py-1.5 px-3 text-base italic text-gray-600 !important;
}

.notion-callout {
  @apply mb-8 mt-2 rounded border-none bg-zinc-100 py-5 text-[15px] text-[#333333] md:text-base !important;
}

.notion-callout .notion-page-icon-inline {
  display: none;
}

.notion-code {
  @apply mb-8 mt-0 rounded py-[1.1rem] !important;
}

.notion-inline-code {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  @apply bg-neutral-200 bg-opacity-70 px-[0.3rem] py-[0.15rem] text-[#2e2e2e] !important;
}

.notion-asset-wrapper {
  @apply mt-0 mb-8 !important;
}

.notion-asset-wrapper-image img {
  @apply rounded !important;
}

.notion-asset-caption {
  @apply text-center !important;
}

.notion-link {
  @apply cursor-pointer break-words border-b border-primary align-text-bottom leading-[1.1] text-primary opacity-100 transition-colors duration-200 hover:border-opacity-80 hover:opacity-80 !important;
}

.notion-row {
  @apply overflow-visible !important;
}

.notion-external-block,
.notion-bookmark {
  @apply -mt-3 mb-12 !important;
}

.notion-bookmark {
  @apply transition hover:bg-neutral-100 !important;
}

.notion-bookmark > div:first-child {
  @apply px-4 pt-3.5 pb-4 !important;
}

.notion-external-block {
  @apply p-2.5 !important;
}

.notion-bookmark-image {
  @apply grow-[0.3] !important;
}

.notion-table-of-contents {
  @apply mt-3 mb-6 rounded bg-gray-100 pb-4 pt-6 before:block before:px-4 before:pb-2 before:text-xl before:font-bold before:text-gray-700 before:content-["Table_of_Contents"] !important;
}

.notion-table-of-contents-item {
  @apply whitespace-pre-wrap pl-6 text-[15px] text-zinc-900 opacity-80 !important;
}
